/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
    background-image: url(../../assets/images/footer-bg-v2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2px solid green;
    /* margin-top: 130px; */
  }
  
  footer p {
    text-align: center;
    margin: 20px 0px;
    color: #fff;
  }
  
  footer p a {
    color: #fff;
    transition: all .5s;
  }