<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  
    <title>RentWise - Enhancing Rental Business</title>
  
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../../assets/css/templatemo-digimedia-v2.css">
    <link rel="stylesheet" href="../../assets/css/animated.css">
    <link rel="stylesheet" href="../../assets/css/owl.css">
  
  </head>

<div class="main-banner wow fadeIn" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>Paying Guest Accommodation</h6>
                    <h2>Your Ideal Place to Stay</h2>
                    <p>Looking for a comfortable, safe, and affordable living space? Our Paying Guest accommodations offer a homely atmosphere with all the necessary amenities. Whether you're a student, working professional, or new to the city, we provide you with an ideal place to stay.</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="border-first-button scroll-to-section">
                      <a routerLink="/login">Login</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image">
                <img [src]="imageSource" alt="image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>